<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PlusFlix{% endblock %}</title>
    <link rel="stylesheet" href="/css/navbar.css">
    {% block stylesheets %}{% endblock %}
</head>

<body>

<nav class="top-nav">
    <div class="nav-left">
        <a href="/" class="logo">PlusFlix</a>
    </div>

    <div class="nav-center">
        <div class="nav-search">
            <form action="/search" method="GET" class="nav-search">
                <input name="name" type="text" placeholder="Szukaj...">
                <button>
                    <img src="https://cdn-icons-png.flaticon.com/256/2866/2866321.png" alt="search">
                </button>
            </form>
        </div>
    </div>

    <div class="nav-right">
        <a href="/search">Wszystkie</a>
        <a href="/favorites">Ulubione</a>
        <button id="themeToggle" class="theme-toggle"></button>
    </div>
</nav>

{% block body %}{% endblock %}

</body>

{% block javascript %}{% endblock %}
<script>
    let isDark = false;
    const themeToggle = document.getElementById("themeToggle");

    themeToggle.onclick = () => {
        if(!isDark) {
            themeToggle.classList.add("dark");
        }
        else {
            themeToggle.classList.remove("dark");
        }

        isDark = !isDark;
    };
</script>

</html>
