#main_content {
    height: 100dvh;
    margin: 0 2em;
    width: 900px;
    display: block;
}

.heading {
    margin-bottom: 20px;
}

#addBtn {
    text-decoration: none;
    color: #000000;
    font-size: 32px;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-bottom: 50px;
}

.input-research {
    border: 1px solid #707070;
    width: 100%;
    border-radius: 5px;
    padding: 7px 6px 7px 6px;
    background-color: #fafafa;
}

.search-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-btn img {
    width: 18px;
    height: 18px;
    opacity: 0.6;
}

.search-btn:hover img {
    opacity: 1;
}

#table-wraper {
    max-height: 73dvh;
    overflow: scroll;
    overflow-x: hidden;
}

.admin-table {
    width: 100%;
    max-width: 880px;
    border-collapse: collapse;
    background: #e0e0e0;
}

.admin-table thead {
    position: sticky;
    top: 0;
}

.admin-table thead th {
    background: #bcbcbc;
    text-align: left;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 16px;
}

.admin-table tbody tr {
    border-bottom: 1px solid #c2c2c2;
}

.admin-table td {
    border-left: 1px solid #c2c2c2;
    padding: 12px 30px;
    font-size: 14px;
}

.admin-table td a{
    color: #57271c;
}

.admin-table a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.admin-table a:hover {
    text-decoration: underline;
}

.admin-table td:last-child {
    white-space: nowrap;
}

.admin-table .action-separator {
    margin: 0 10px;
    color: #444;
}