.modal-bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 400px;
    top: 20%;
    left: 40%;
    transform: translate(-200px);
    border-radius: 6px;
    padding: 0.5em 2em;
    margin: 0;
}

.modal-close-btn {
    position: absolute;
    right: 0.5em;
    top: 0;
    font-size: 35px;
    font-weight: 1000;
    color: #bf3f3f;
    cursor: pointer;
    transition: 0.2s;
}

.modal-close-btn:hover {
    color: #5a0707;
}

#form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.inputs p {
    font-weight: bold;
    font-size: 24px;
    margin: 6px 0 4px 0;
}

.inputs input {
    margin-top: 10px;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 7px 6px;
    margin-bottom: 40px;
    background-color: #fafafa;
    width: 100%;
    max-width: 390px;
}

#modal-submit-btn {
    width: 100%;
    max-width: 80px;
    padding: 7px 6px;
    align-self: flex-end;
    background-color: #545F71;
    border: 1px solid #545F71;
    border-radius: 5px;
    color: #fafafa;
    transition: 0.2s;
}

#modal-submit-btn:hover {
    background-color: #364353;
}
