body {
    display: flex;

    margin: 0;
    padding: 0;

    overflow: clip;
}

.admin-nav {
    display: flex;
    flex-direction: column;

    height: 100dvh;
    width: 5dvw;
    background-color: #D9D9D9;

    padding: 1em;
}

.admin-nav *{
    margin: 1.5em 0;
}

a {
    color: #0a0a0a;
    text-decoration: none;
}

.modal {
    background: #b5b5b5;

    border: black solid 2px;
    border-radius: 1em;

    position: absolute;

    padding: 2dvh 2dvw;
    margin: 10dvh 10dvw;
    width: 78dvw;
    height: 70dvh;

    z-index: 1;
}

.close {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

#modalSubmitBtn {
    position: absolute;
    bottom: 2dvh;
    right: 2dvw;
    cursor: pointer;
}
