#main_content {
    display: flex;
    flex: 1;
    flex-direction: column;

    margin: 1em;
}

#items_container {
    display: flex;
    flex-direction: column;

    height: 80dvh;

    margin-top: 1em;
    overflow: scroll;
    overflow-x: hidden;
}

#items_nav {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #a3a3a3;
    justify-items: center;
}

#items{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    background-color: #D9D9D9;
    justify-items: center;
}

#itemForm {
    display: grid;
    grid-template-columns: 1fr 1fr;   /* two columns */
    grid-auto-rows: auto;             /* auto height per row */
    column-gap: 2em;                  /* spacing between columns */
    row-gap: 1em;                     /* spacing between rows */
    align-items: start;               /* prevent vertical stretching */
}

.form_input_container {
    min-width: 0;
}

form input {
    margin-top: 0.2em;
    border-radius: 0.5em;
    border: none;
    height: 2em;
    width: 80%;
}

select {
    width: 80%;
}

.pills-container {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 6px;
    width: 80%;
}

.pill {
    padding: 6px 10px;
    background: #eee;
    border-radius: 20px;
    cursor: pointer;
}
.pill.active {
    background: #3498db;
    color: white;
}
