body {

    margin: 0;
    padding: 0;

    overflow: clip;
}

a {
    color: #0a0a0a;
    text-decoration: none;
}

nav {
    background-color: #a3a3a3;;
    padding: 1em 1.5em;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 0.5fr;
}

nav a:nth-child(3),
nav a:nth-child(4) {
    justify-self: center;
    align-self: center;
}
