#main_content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#leftColumn, #middleColumn, #rightColumn {
    padding: 2em;
}

.bigPoster {
    width: 300px;
    height: 420px;
}

#itemTags {
    margin: 1em 0;
    display: flex;
}

.tag {
    padding: 0.3em 0.8em;
    background-color: rgb(47, 47, 47);
    color: #ebf1f1;
    border-radius: 1em;
}

#itemScore {
    background-color: rgb(47, 47, 47);
    width: 300px;
    height: 150px;
}

#similarItemsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.similarItem {
    margin: 0.5em;
    width: 100px;
    height: 150px;
}

#streamingsContainer {
    background-color: rgb(47, 47, 47);
    display: flex;
    padding: 1em 1em;
    border-radius: 1em;
    /*width: 300px;*/
    /*height: 150px;*/
}

.streaming {
    display: flex;
    background: #7690bc;
    border-radius: 5em;

    width: 5em;
    height: 5em;

    justify-content: center;
    align-items: center;

    margin: 0 1em;
}
