#main_content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#leftColumn, #middleColumn, #rightColumn {
    padding: 2em;
}

.bigPoster, .bigPoster img {
    width: 300px;
    height: 420px;
    position: relative;
}

#itemTags {
    margin: 1em 0;
    display: flex;
}

.tag {
    padding: 0.3em 0.8em;
    background-color: rgb(47, 47, 47);
    color: #ebf1f1;
    border-radius: 1em;
}

#itemScore {
    background-color: rgb(47, 47, 47);
    width: 300px;
    height: 150px;
}

#similarItemsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*.similarItem {*/
/*    margin: 0.5em;*/
/*    width: 100px;*/
/*    height: 150px;*/
/*}*/

#streamingsContainer {
    background-color: rgb(47, 47, 47);
    display: flex;
    padding: 1em 1em;
    border-radius: 1em;
    /*width: 300px;*/
    /*height: 150px;*/
}

.streaming {
    display: flex;
    background: #7690bc;
    border-radius: 5em;

    width: 5em;
    height: 5em;

    justify-content: center;
    align-items: center;

    margin: 0 1em;
}
.streaming img{
    border-radius: 5em;
    width: 5em;
    height: 5em;
}

.fav-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    background: rgba(255,255,255,0.8);
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}

.fav-btn:hover {
    background-color: gold;
}

.fav-btn.active {
    background: gold;
}

.result-card {
    background: #fff;
    border-radius: 8px;
    padding-bottom: 0.5rem;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
    color: inherit;

    margin: 0.5em;
    width: 180px;
    height: 270px;
}

.result-card img {
    width: 180px;
    height: 270px;
}

.poster-wrapper {
    width: 180px;
    height: 210px;
}

.result-card a {
    color: inherit;
    text-decoration: none;
}

.poster {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.streaming-icons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.streaming-icons img {
    width: 30px;
    height: 30px;
}

.info {
    padding: 0.5rem;
    text-align: center;
}

.title {
    font-size: 1rem;
    margin: 0.2rem 0;
}

.meta {
    font-size: 0.9rem;
    color: #666;
}
