* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-nav {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background: rgb(47, 47, 47);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    font-family: Helvetica, sans-serif;

    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-left .logo {
    font-size: 25px;
    font-weight: bold;
    color: gold;
    text-decoration: none;
    font-family: "Impact", sans-serif;
    letter-spacing: 0.08em;
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-search {
    width: 100%;
    max-width: 700px;

    display: flex;
    align-items: center;

    background: #222;
    border-radius: 6px;
    padding: 5px 10px;
}

.nav-search input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 14px;
}

.nav-search button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

.nav-search button img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}

.nav-right a:hover {
    text-decoration: underline;
}

.nav-lists-btns {
    background-color: #fdd500;
    border: 2px solid #8e8e9c;
    padding: 6px 12px;
    border-radius: 1em;
    transition: 0.2s;
}

.nav-lists-btns:hover {
    background-color: #c3a600;
}


@media (max-width: 800px) {

    .top-nav {
        height: auto;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .nav-center {
        order: 3;
        width: 100%;
    }

    .nav-search {
        max-width: 100%;
        padding: 4px 8px;
    }

    .nav-search input {
        font-size: 13px;
    }

    .nav-search button img {
        width: 16px;
        height: 16px;
    }

    .nav-right a {
        font-size: 13px;
        white-space: nowrap;
    }

    .theme-toggle {
        width: 48px;
        height: 24px;
    }

    .theme-toggle::before {
        width: 18px;
        height: 18px;
        top: 3px;
        left: 3px;
    }

    .theme-toggle.dark::before {
        transform: translateX(22px);
    }

}
