* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-nav {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background: rgb(47, 47, 47);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    font-family: Arial, sans-serif;

    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-left .logo {
    font-size: 25px;
    font-weight: bold;
    color: gold;
    text-decoration: none;
    font-family: "Impact", sans-serif;
    letter-spacing: 0.08em;
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-search {
    width: 100%;
    max-width: 700px;

    display: flex;
    align-items: center;

    background: #222;
    border-radius: 6px;
    padding: 5px 10px;
}

.nav-search input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 14px;
}

.nav-search button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

.nav-search button img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-right a:hover {
    text-decoration: underline;
}

.theme-toggle {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}

