<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Panel Admina</title>
        <link rel="stylesheet" href="{{ asset('css/admin/admin.base.css') }}">
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        <nav class="admin-nav">
            <a href="/admin/streamings">Streamingi</a>
            <a href="/admin/items">Seriale i Filmy</a>
            <a href="/admin/categories">Kategorie</a>
            <a href="/admin/tags">Tagi</a>
            <a href="/admin/ratings">Oceny</a>
            <form action="{{ path('admin_logout') }}" method="post" style="margin:0;">
                <button type="submit" class="logout-btn">Wyloguj</button>
            </form>
        </nav>
        {% block body %}
            <h1 style="font-size: 64px; margin-left: 1em">Witaj admin!</h1>
        {% endblock %}
    </body>

    {% block script %}{% endblock %}
</html>
