<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Panel Admina</title>
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/admin.css') }}">{% endblock %}
    </head>
    <body>
        <nav class="admin-nav">
            <a href="/admin/streamings">Streamingi</a>
            <a href="/admin/items">Seriale i Filmy</a>
            <a href="/admin/categories">Kategorie</a>
            <a href="/admin/tags">Tagi</a>
            <a href="/admin/ratings">Oceny</a>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
