<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Panel Admina</title>
        <link rel="stylesheet" href="{{ asset('css/admin/admin.base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/admin/admin.ratings.css') }}">
        <link rel="stylesheet" href="{{ asset('css/admin/admin.categories.css') }}">
        {# Tu dodawać dla pozostałych opcji admina #}
    </head>
    <body>
        <div class="admin-layout">
            <div class="admin-base">
                <aside class="admin-nav">
                    <ul>
                        <li><a href="/admin/streamings">Streamingi</a></li>
                        <li><a href="/admin/items">Seriale i Filmy</a></li>
                        <li><a href="/admin/categories">Kategorie</a></li>
                        <li><a href="/admin/tags">Tagi</a></li>
                        <li><a href="/admin/ratings">Oceny</a></li>
                        <li>
                            <form action="{{ path('admin_logout') }}" method="post" style="margin:0;">
                                <button type="submit" class="logout-btn">Wyloguj</button>
                            </form>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="admin-extended">
                {% block body %}
                    <h1>Witaj Admin!</h1>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
